<main>
  <div class="banner">
    <div class="container">
      <h1>Officon, evolving the way you work</h1>
    </div>
  </div>
  <%# <div class="container">
    <%= image_tag "office01.jpg", alt: "office image", width: "100%" %>
  <%# </div> %>


  <div class="container mt-3">
    <div class="item">
      <h2>Office Spaces in St Pierre</h2>
    </div>
    <div class="cards mt-3">
      <% @offices.each do |office| %>
        <%= link_to office_path(office) do %>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path office.photo.key%>')">
    <%= office.title %>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</main>
