<main>
  <div class="banner">
    <div class="container">
      <h1>Officon, evolving the way you work</h1>
    </div>
  </div>
  <%# <div class="container">
    <%= image_tag "office01.jpg", alt: "office image", width: "100%" %>
  <%# </div> %>


  <section>
    <h2>Office Spaces</h2>
    <p></p>
    <div class="cards">
    <% @offices.each do |office| %>
  <%= link_to office_path(office) do %>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path office.photo.key%>')">
    <%= office.title %>
  </div>
  <% end %>
<% end %>

</div>
  </section>
  <section>
    <h2>About us</h2>
    <p></p>
  </section>
  <section>
    <h2>Contact us</h2>
    <p></p>
  </section>
  <p>Find me in app/views/pages/home.html.erb</p>
</main>
