.card-product {
  overflow: hidden;
  height: 180px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
}

.card-product img {
  height: 100%;
  width: 400px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.container {
  display: flex;
  flex-direction: column;
}

.item {
  align-self: center;
}

.card-office {
  width: 800px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-office > img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.card-office h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-office p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-office .card-office-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-office-infos .card-office-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
